.sidebar{
    background-color: #0064FA;
    width: calc(50px + 22vw);
    display: grid;
    grid-template-areas: 
    "a"
    "b";
    grid-template-rows: 1fr 4fr 1fr;
    height: calc(100dvh - 30px);
    padding: 30px;
    text-align: left;
    h1{
        font-size: 23px;
        color: white;
        font-weight: 500;
        font-family: 'GuardianSans-Bold', sans-serif;
    }
}


#sidebarLogo{
    width: 200px;
    margin-top: 30px;
}

#google{
    height: 22px; 
}

.sidebarBottom{
    grid-area: "b";
}

h4{
    margin: 7px;
}

#credits{
    align-items: center;
    display: flex;
    color: white;
}